In [16]:
import pandas as pd

# Read data

## Indicators

In [17]:
# Dateien einlesen
part1 = pd.read_pickle('pkl/year_df_part1.pkl')
part2 = pd.read_pickle('pkl/year_df_part2.pkl')

# Zusammenführen
year_df_combined = pd.concat([part1, part2], ignore_index=True)
year_df_combined

,Country,Code,ContinentCode,Year,Agricultural land sq. km.,Crop production index (2004-2006 = 100),Precipitation mm per year,Arable land percent of total land area,Cereal yield kg per hectar,Food production index (2004-2006 = 100),...,Electricity consumption billion kilowatthours,Electricity imports billion kilowatthours,Electricity exports billion kilowatthours,Renewable power capacity million kilowatts,Renewable power generation billion kilowatthours,Natural gas production,Natural gas consumption,Biofuels production,Biofuels consumption,Prime energy production
0,Afghanistan,AFG,AS,1960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,AS,1961,377500.0,43.2,327.0,11.7,1115.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,AS,1962,378000.0,44.1,327.0,11.8,1079.0,41.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,AS,1963,378500.0,43.0,327.0,11.9,986.0,41.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,AS,1964,379050.0,46.9,327.0,12.0,1083.0,44.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13687,Zambia,ZMB,AF,2028,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13688,Zimbabwe,ZWE,AF,2025,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13689,Zimbabwe,ZWE,AF,2026,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13690,Zimbabwe,ZWE,AF,2027,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13691,Zimbabwe,ZWE,AF,2028,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Metadata

In [27]:
metadata = pd.read_pickle('pkl/metadata.pkl')
metadata.head()

,Indicator,Measure,Source,Currencies,Definition,Time,Group
0,"Population size, in millions",million,United Nations Population Division,,Total population is based on the de facto defi...,annual,Demographics
1,"Life expectancy, in years",years,The United Nations Population Division,,Life expectancy at birth indicates the number ...,annual,Health spending and outcomes
2,Percent urban population,percent,United Nations Population Division,,Urban population refers to people living in ur...,annual,Demographics
3,"The number of crude births per 1000 people, pe...",births per 1000 people,The World Bank,,Crude birth rate indicates the number of live ...,annual,Health spending and outcomes
4,"Death rate, per 1000 people",deaths per 1000 people,The World Bank,,Crude death rate indicates the number of death...,annual,Health spending and outcomes

In [26]:
year_df_combined.columns = year_df_combined.columns.str.replace(',', '', regex=False)
metadata['Indicator'] = metadata['Indicator'].astype(str).str.replace(',', '', regex=False)

# Liste der Spaltennamen ab der 2. Spalte (Index 1)
spalten_liste = year_df_combined.columns[4:].tolist()

# Liste der Werte in der Spalte 'Merkmale' von df2
merkmale_liste = metadata['Indicator'].tolist()

# Vergleich: Welche Merkmale aus df2 sind in df1 enthalten?
gemeinsam = list(set(spalten_liste) & set(merkmale_liste))
nur_in_df1 = list(set(spalten_liste) - set(merkmale_liste))
nur_in_df2 = list(set(merkmale_liste) - set(spalten_liste))

#print("Gemeinsame Merkmale:", gemeinsam)
print("Nur in df1:", nur_in_df1)
print("Nur in df2:", nur_in_df2)
print("Nur in df2:", len(gemeinsam))

Nur in df1: []
Nur in df2: ['Consumer confidence survey', 'Retail sales Y-on-Y', 'Economic growth percent change in quarterly real GDP', 'Industrial production annual percent change', 'Business confidence survey', 'Retail sales index', 'GDP billion currency units', 'Economic growth quarterly', 'House price index', 'Real residential property prices Y-on-Y percent change']
Nur in df2: 438

# Data availability

In [31]:
selected_countries_1 = year_df_combined['Country'].unique().tolist()

In [32]:
pivot_df = pd.melt(year_df_combined, id_vars=['Country', 'Code', 'ContinentCode', 'Year'], var_name='Indicator', value_name='Value')

# Wählen Sie die Jahre aus, die Sie überprüfen möchten
jahre_liste = [2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027]

# Ergebnis-DataFrame initialisieren
result_df_all_years = pd.DataFrame()

# Iteration über die ausgewählten Jahre
for year in jahre_liste:
    # Filtern Sie den DataFrame für das aktuelle Jahr
    pivot_df_year = pivot_df[pivot_df['Year'] == year]

    # Berechnen Sie die erste Summe für die erste Auswahl von Ländern
    pivot_df_selected_countries_1 = pivot_df_year[pivot_df_year['Country'].isin(selected_countries_1)]
    sum_all_1 = pivot_df_selected_countries_1.groupby('Indicator')['Value'].count()

    # Fügen Sie die Summen für das aktuelle Jahr als Spalten hinzu
    result_df_all_years[f'{year}'] = sum_all_1
    #result_df_all_years[f'Sum_{year}_Maghreb'] = sum_all_2

# Anzeige des resultierenden DataFrames
result_df_all_years

,2019,2020,2021,2022,2023,2024,2025,2026,2027
Indicator,,,,,,,,,
ATMs per 100000 adults,162,159,150,0,0,0,0,0,0
Academic freedom index,171,171,171,171,171,0,0,0,0
Access to electricity percent of the population,195,195,195,195,0,0,0,0,0
Agricultural land sq. km.,193,193,193,0,0,0,0,0,0
Agriculture value added billion USD,186,184,183,180,166,0,0,0,0
...,...,...,...,...,...,...,...,...,...
Year of presidential elections,113,113,113,113,113,0,0,0,0
Years of parliamentary elections,169,169,169,169,169,0,0,0,0
Youth literacy rate ages 15-24,48,36,58,65,6,0,0,0,0
Youth unemployment ages 15-24,180,180,180,179,178,0,0,0,0
Zinc production in metric tons,48,48,47,47,0,0,0,0,0